# Archivos de simulación y temporales
*.vcd
*.vvp
*.log
*.out
*.o
*.elf
*.bin
*.hex
*.lst

# Carpetas de build / runs
build/
runs/
tmp/
__pycache__/

# Archivos de intercambio editor
*~
.vscode/
.idea/
