# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# MATLAB / Simulink
*.asv
*.m~
*.mex*
slprj/
*.autosave
*.slxc
*.mdl.r2016a
*.slxc
*.log

# Jupyter
.ipynb_checkpoints/

# OS / IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Builds / resultados / logs
build/
dist/
*.out
*.o
*.aux
*.toc
*.log
*.tmp
logs/
outputs/
results/

# Latex
*.aux
*.bbl
*.blg
*.toc
*.lof
*.lot
*.synctex.gz

# Otros
*.bak
